# Virtual environment
venv/
*.venv/
env/
.env

# Python temporary files
__pycache__/
*.pyc

# Django specific files
media/ 
staticfiles/
db.sqlite3

# IDE files (e.g., VS Code, PyCharm)
.vscode/
.idea/

# Sensitive or temporary files (if applicable)
local_settings.py 
*key.txt